<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de jugadores del mundial de qatar 2022</title>
</head>
<body>
  <form action="" method="POST">
    {%csrf_token%}
    <fieldset>
        <legend>Filtro</legend>
        <label>Posicion: <input type="text" name="posicion" list="posiciones"/>
            <datalist id="posiciones">
                {% for continente in listado_continentes %}
                <option value="{{posicion}}"></option>
                {% endfor %}
            </datalist>
        </label>
        <label>Nacionalidad: <input type="text" name="nacionalidad" list="nacionalidades"/>
            <datalist id="nacionalidades">
                {% for continente in listado_continentes %}
                <option value="{{nacionalidad}}"></option>
                {% endfor %}
            </datalist>
        </label>
        <label>Equipos: <input type="text" name="equipo" list="equipos"/>
            <datalist id="equipos">
                {% for continente in listado_continentes %}
                <option value="{{equipo}}"></option>
                {% endfor %}
            </datalist>
        </label>
    </fieldset>
    <input type="submit" value="Filtrar/Ordenar"/>
</form>
<form action="" method="POST">
    {%csrf_token%}
    <input type="hidden" name="reset" value="True">
    <input type="submit" value="Reset"/>
</form>

  <table border="1" title="Lista de jugadores del mundial de qatar 2022">
    <tr>
      <td>Nombre</td>
      <td>Equipo</td>
      <td>Edad</td>
      <td>Nacionalidad</td>
      <td>Pais</td>
    </tr>
  {% for jugador in listado_jugadores %}
    <tr>
      <td align="center">{{jugador.nombre}}</td>
      <td align="center">{{jugador.equipo}}</td>
      <td align="center">{{jugador.nacionalidad}}</td>
      <td align="center">{{jugador.nacionalidad}}</td>
    </tr>
  {% endfor %}
  </table>
    <a href="{% url 'inicio' %}">Inicio</a>
    <a href="{% url 'aniadir_equipo' %}">Añadir Equipo</a>
</body>
</html>